/*----------------------------
------------------------------
    Theme : PURPLE MOON DESIGNS
    Version:  1.0.0
    Author:  PURPLE MOON DESIGNS
------------------------------
----------------------------*/

/*----------------------------
------------------------------

    INDEX OF STYLING

    1. Web fonts 
    2. Base theme style
    3. Header section style
   
------------------------------
----------------------------*/


/*----------------------------
Web font style start here
----------------------------*/

    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

/*----------------------------
Web font style end here
----------------------------*/

/*----------------------------
Base theme styling start here
----------------------------*/

    html, body{
    	font-family: 'Lexend', sans-serif;
    }
    h1,h2,h3,h4,h5,h6{
    	box-sizing: border-box;
    	margin: 0;
    	padding: 0;
    }
    p{
    	box-sizing: border-box;
    	margin: 0;
    	padding: 0;	
    }
    a{
    	text-decoration: none;
    	outline: none;
    	border: none;
    	font-weight: 500;
    	-webkit-transition: color 350ms ease-in-out;
    	-moz-transition: color 350ms ease-in-out;
    	-ms-transition: color 350ms ease-in-out;
    	-o-transition: color 350ms ease-in-out;
    	transition: color 350ms ease-in-out;
        vertical-align: baseline;
        background: transparent;
    }
    a:focus,
    a:hover{
    	text-decoration: none;
    	outline: none;
    	border: none;
    }
    title{
    	text-transform: capitalize;
    }
    ul {
        list-style: none;
    }
    

/*----------------------------
Base theme styling start here
----------------------------*/

/*--------------------------------
 Header section styling start here
--------------------------------*/
    header .container-fluid {
        max-width: 1730px;
    }

    .btn-primary , .btn-primary:hover , .btn-primary:focus  {
        background: #401C64;
        border: none;
        border-radius: 5px;
    }
    header .btn-primary , header .btn-primary:hover {
        padding: 24px 45px !important;
    }
    header .btn-primary svg {
        margin-left: 27px;
    }
    .navbar {
        padding: 24px 0;
    }
   .navbar-light .navbar-nav .nav-link {
        font-size: 24px;
        font-weight: 300;
        color: #5C2C7F;
        margin-right: 52px;
    }
/*--------------------------------
 Header section styling end here
--------------------------------*/



/*--------------------------------
 Hero CTA section styling start here
--------------------------------*/

.hero-cta {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 156px 0 150px;
}
@media(min-width: 1600px){
    .hero-cta {
        padding-left: 180px;
        padding-right: 180px;
    }
}
.hero-cta h1 {
    font-size: 70px;
    line-height: 95px;
    color: #5C2C7F;
    font-weight: 600;
    margin-bottom: 50px;
}
.hero-cta p {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    line-height: 42px;
}

.round {
    border-radius: 50% !important;
    width: 235px;
    height: 235px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: left;

}

/*--------------------------------
 Hero CTA section styling end here
--------------------------------*/

/*-----------------------------------
 Services section styling start here
-----------------------------------*/
.services-section {
    padding-bottom: 175px;
    overflow: hidden;
}
.service-box {
   border-radius: 5px;
   overflow: hidden; 
}
.service-box img {
    max-width: 100%;
}
.over-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(79, 79, 79, 0.4);
    display: flex;
    align-items: flex-end;
    padding: 35px;
}
.over-content span {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}
.services-slider .swiper-button-next {
    right:23% ;
    background: none !important;
    height: 80px;
    width: 80px;
}
.services-slider .swiper-button-prev {
    left: 23%;
    background: none !important;
    height: 80px;
    width: 80px;
}
/*-----------------------------------
 Services section styling end here
-----------------------------------*/

/*-----------------------------------
 About section styling start here
-----------------------------------*/
.about-section{
    display: flex;
    width: 100%;
    padding-bottom: 140px;

}
@media(min-width: 980px){
    .about-section{
        padding-left: 120px;
    }
}

.about-content {
    max-width: 680px;
    margin-left: 30px;      
}

.sub-slogan {
    font-size: 24px;
    font-weight: 500;
    color: #ACACAC;
    margin-bottom: 30px;
}
.about-content h3 {
    font-size: 45px;
    font-weight: 700;
    color: #401C64;
    line-height: 75px;
    margin-bottom: 63px;
}

.about-content  p {
    color: #707070;
    font-size: 16px;
    line-height: 45px;
}

.spacer {
    display: block;
    width: 100%;
    height: 155px;
    background: url(../images/spacer.png) no-repeat 0  0;
}
    
.about-content  p  span , p.author{
    font-size: 24px;
    color: #401C64;
    font-weight: 400;
}
p.author {
    font-weight: 300;
}


/*-----------------------------------
 About section styling end here
-----------------------------------*/


/*-----------------------------------
 Case Study section styling start here
-----------------------------------*/

.case-study {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.case-study .container{
    position: relative;
    z-index: 11;
} 

.full-screen {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 100px;
    width: 100vw;
}
.full-screen video {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
.full-screen:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.full-screen h3 {
    color: #fff;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    line-height: 38px;
}
.hero-cta h3 {
    font-size: 50px;
    line-height: 75px;
    color: #5C2C7F;
    font-weight: 300;
    margin-bottom: 50px;
}
/*-----------------------------------
 Case Study section styling end here
-----------------------------------*/


/*-----------------------------------
 Team section styling start here
-----------------------------------*/
.team-section {
    background: url(../images/team-bg.png) no-repeat center bottom;
}

.pt-125 {
    padding-top: 125px;
}

.team-box h4 {
    font-size: 24px;
    font-weight: 600;
    color: #401C64;
    margin: 0;

}
.team-box p{
    font-size: 16px;
    color: #ACACAC;
    margin-bottom: 42px;
}
.team-box {
    transition: all 0.7s linear;
}
.team-box:hover{
    filter: grayscale(1);
}
/*-----------------------------------
 Team section styling end here
-----------------------------------*/


.services-box-large {
    padding-top: 155px;
}
@media(min-width: 1600px){
    .services-box-large {
        padding-left: 153px;
        padding-right: 153px;
    }
}

.service-large-content h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}
.orange .service-large-content h3 {
    color: #DE7C0E;
}
.service-large-content p {
    font-size: 18px;
    color: #716C80;
    line-height: 30px;
    max-width: 325px;
    margin-bottom: 20px;
}



.btn-rounded {
    display: flex;
    width: 156px;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    border: none;


}
.btn-rounded:hover {
    color: #fff;
}
.orange .btn-rounded {
    background: #DE7C0E;
}

.service-large-image {
    position: relative;
}
.service-large-image  img {
    border-radius: 40px;
    position: relative;
    z-index: 11;
    width: 100%;
}
.service-large-image:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 40px;
}
.orange .service-large-image:after {
    background: #DE7C0E;
}

.service-listing {
    display: flex;
    width: 100%;
    padding: 68px 50px 0;
}

 .service-listing ul {
    display: flex;
    width: 33.33%;
    flex: 0 0 33.33%;
    flex-direction: column;
 }

 .service-listing ul li a {
    font-size: 24px;
    color: #ACACAC;
    line-height: 45px;
 }
 .green .service-large-image:after{
    background: #9FBC00;
 }
 .green .btn-rounded {
  background: #9FBC00;
}
.green .service-large-content h3 {
    color: #9FBC00;
}
.blue .service-large-image:after{
    background: #009EBD;
 }
 .blue .btn-rounded {
  background: #009EBD;
}
.blue .service-large-content h3 {
    color: #009EBD;
}
.red .service-large-image:after{
    background: #E22F4C;
 }
 .red .btn-rounded {
  background: #E22F4C;
}
.red .service-large-content h3 {
    color: #E22F4C;
}


/* Service page css start */

/* Banner section css start */
.service-banner-main{
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 1;
    height: 500px;
    background: #4A2264;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-banner-main:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/service-shap.png');
    background-position: center center;
    background-size: cover;
    z-index: -1;
}
.service-banner-con{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.service-banner-con h2{
    font-size: 60px;
    line-height: 80px;
    font-weight: 600;
    color: #fff;
    margin: 0px;
}
/* Banner section css end */

/* Website section css start */
   .website-sec-main{
        margin: 0px;
        padding: 120px 126px 120px 220px;
        position: relative;
        z-index: 1;
   } 
   .website-sec-main:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 77%;
        width: 100%;
        background: #EDA732;
        z-index: -1;
   }
   .website-left-main{
        margin: 0px;
        padding: 0px;
   }
   .website-left-inner{
        margin: 0px;
        padding: 150px 0 0 0;
   }
   .website-left-inner h2{
        font-size: 48px;
        line-height: 64px;
        font-weight: bold;
        color: #fff;
        margin: 0 0 50px 0;
   }
   .website-left-inner p{
         font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #fff;
        width: 80%;
   }
   .website-left-inner p:not(:last-child){
        margin: 0 0 30px 0;
   }
   .website-right-main{
        margin: 0px;
        padding: 0px;
   }
   .website-right-inner{
        margin: 0px;
        padding: 0px;
   }
   .website-right-inner img{
        height: 750px;
        object-fit: cover;
        width: 100%;
   }
/* Website section css end */

/* Process section css start */
.process-main-sec{
    margin: 0px;
    padding: 35px 126px 35px 220px;
}
.process-heading-area{
    margin: 0px;
    padding: 0px;
}
.process-heading-area h2{
    font-size: 60px;
    line-height: 80px;
    color: #333333;
    font-weight: 600;
    margin: 0px;
}
.process-con-main-area{
    margin: 85px 0 0 0;
    padding: 0px;
}
.process-con-inner-area{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.process-tab-links{
    margin: 0px;
    padding: 0px;
    flex: 0 0 15%;
    max-width: 15%;
}
.process-tab-links ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.process-tab-links ul li{
    margin: 0px;
    padding: 0px;
}
.process-tab-links ul li a{
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: #333333;
    margin: 0px;
    padding: 0 0 20px 0;
    justify-content: space-between;
}
.process-tab-links ul li a i{
    opacity: 0;
    transition: all ease 0.4s;
}
.process-tab-links ul li a.active{
    color: #EDA732;
}
.process-tab-links ul li a.active i{
    opacity: 1;
}
.process-tab-content-main{
    margin: 0px auto;
    padding: 0px;
    flex: 0 0 800px;
    max-width: 800px;
}
.tabi-con-main-area{
    margin: 0px;
    padding: 0px;
}
.tabi-con-main-area p{
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    color: #999999;
}
.tabi-item-block{
    display: none;
}
.tabi-item-block.active{
    display: block;
}
/* Process section css end */

/* Service page css end */